
# /
/a.out

# /lib/
/lib/

# /lib/ForceField/
/lib/ForceField/

# /lib/Grammar/
/lib/Grammar/*.pm

# /tests/coverage/
/tests/coverage/cover_db
/tests/coverage/*.out

# /tests/outputs/
/tests/outputs/*.diff
/tests/outputs/*.jmol