# /
/TAGS

# /src/lib/
/src/lib/*.o

# /src/lib/ForceField/
/src/lib/ForceField/*.o

# /lib/Grammar/
/lib/Grammar/*.pm

# /tests/outputs/
/tests/outputs/*.diff

# /tests/coverage/
/tests/coverage/cover_db
/tests/coverage/*.out
